/* This is for the Mobile responsiveness */
/*    I am still working on Toggle Menu */

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  nav ul {
    position: relative;
  }

   .burger-menu {
  display: block;
  }

  #nav-list {
    display: none;
    position: absolute;
    top: 100px; 
    width: 50vw;
    height: 50vh;
    padding-top: 40px;
    background-color: #1e293b;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    z-index: 1000;
  }

  #nav-list.active {
    display: flex;
    right: 0;
  }


/* ----- Hero Responsiveness ----- */

  #hero-main {
    flex-direction: column;
    padding: 20px;
  }

  .logo {
    font-size: 1.5rem;
  }

  .hero-content,
  .hero-book-form {
    width: 100%;
  }

  .hero-content h1 {
   font-size: 30px;
   margin-top: 30px;
  }

  .hero-book-form {
    margin-top: 30px;
  }

/* ----- Services Section Responsiveness ----- */

  .row {
    flex-direction: column;
    align-items: center;
  }

  .service-item {
    width: 100%;
    max-width: 90%;
    margin-bottom: 30px;
  }

  /* ----CTA ----- */

  #cta {
    padding: 40px 20px;
    text-align: center;
  }

  #cta h2 {
    font-size: 24px;
  }

  #cta p {
    font-size: 16px;
  }

  /* ----- Gallery Section Responsiveness ----- */

  .gallery-col {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0 10px;
  }

  .testimonial-col {
    flex-direction: column;
    text-align: left;
    margin-bottom: 30px;
  }

  .testimonial-col img {
    margin-bottom: 10px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
  }

/* ----- Contact Section Responsiveness ----- */

  .contact-container {
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;
  }

  .contact-col {
    width: 100%;
  }

  .contact-col p {
    font-size: 16px;
  
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;
  }

  /* ----- Footer Responsiveness ----- */

  .footer-container {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .footer-col {
    width: 100%;
  }

  .footer-links,
  .footer-socials {
    justify-content: center;
    padding: 0;
  }
}